{% import 'macros/landing.twig' as landing %}
<section class="webinar-greeting" id="section-webinar-greeting">
    <div class="container">
        <div class="row webinar-greeting__row">
            <div class="col-12 col-sm-6 col-md-5 webinar-greeting__place-outer">
                <p class="webinar-greeting__place webinar-greeting__subtitle">Участие из любой <br>точки мира</p>
            </div>
            <div class="col-12 col-sm-6 col-md-7 webinar-greeting__content">
                <h1 class="webinar-greeting__title">
                    Как с нуля построить<br>
                    онлайн-бизнес<br>
                    на круизных путешествиях<br>
                    <span>При поддержке Сообщества</span>
                    <span>предпринимателей Grono</span>
                </h1>
                <h2 class="webinar-greeting__subtitle">
                    Реальный опыт предпринимателя<br>
                    с доходом от <span>$50,000 в месяц</span>
                </h2>
                <p class="webinar-greeting__date">
                    <strong>16 апреля</strong>, 19:00 МСК/Киев
                </p>
                <div class="webinar-greeting__footer">
                    <p class="webinar-greeting__subtitle webinar-greeting__footer__subtitle">
                        Бесплатный<br>
                        онлайн-вебинар
                    </p>
                    <button
                        class="btn btn_brand-1 webinar-greeting__button js-anchor"
                        data-href="#section-registration">
                        Зарегистрироваться
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ landing.image({
        src: 'img/rectangle-bottom-section.png',
        alt: title|striptags,
        class: 'rectangle rectangle_bottom'
    }) }}
    {% include 'components/common/next-button.twig' with {
        class: 'webinar-greeting__next',
        buttonClass: 'next-button_brand-1'
    } %}
</section>