<footer class="footer">
  <p>Все права защищены © <span class="current-year"></span></p>
</footer>

{% include 'components/footer/modals/modal-registration.twig' %}
{% include 'components/footer/modals/modal-entry.twig' %}
{% include 'components/footer/modals/modal-forgot-password.twig' %}
{% include 'components/footer/modals/modal-video.twig' %}
{% include 'components/footer/modals/modal-platform.twig' %}
{% include 'components/footer/modals/modal-politic.twig' %}