<footer class="footer">
  <p>Все права защищены © <span class="current-year"></span></p>
</footer>
<div class="modal" id="modal-registration">
  <div class="modal__box modal__box_form">
    <div class="modal__header">
      {% include 'components/common/section-header.twig' with {
        class: 'modal__box-header section-header_white',
        background: 'заходи на борт',
        title: 'Регистрация'
      } %}
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      <form action="#" method="POST" class="form">
        <div class="row form__row">
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Имя*</span>
              <input type="text" name="name" placeholder="Напишите ваше имя" class="form__input">
            </label>
          </div>
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Фамилия*</span>
              <input type="text" name="surname" placeholder="Напишите свою фамилию" class="form__input">
            </label>
          </div>
        </div>
        <div class="row form__row">
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Телефон*</span>
              <input type="tel" name="phone" placeholder="Введите свой телефон" class="form__input">
            </label>
          </div>
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Еmail*</span>
              <input type="email" name="email" placeholder="Введите свою почту" class="form__input">
            </label>
          </div>
        </div>
        <div class="row form__row">
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Введите пароль*</span>
              <input type="password" name="password" placeholder="Придумайте пароль" class="form__input">
            </label>
          </div>
          <div class="col-12 col-sm-6 form__column">
            <label class="form__label">
              <span class="form__label-title">Повторите пароль*</span>
              <input type="password" name="password2" placeholder="Подтвердите пароль" class="form__input">
            </label>
          </div>
        </div>
        <div class="row form__row">
          <div class="col-12 form__column">
            <label class="form__label">
              <span class="form__label-title">Создание личного адреса</span>
              <span class="form__address">
                <p class="form__address-title form__address-title_prev">https://</p>
                <input type="text" name="address" class="form__input form__address-input">
                <p class="form__address-title form__address-title_next">grono.top</p>
              </span>
            </label>
          </div>
        </div>
        <div class="row form__row">
          <div class="col-12 form__column form__column_block">
            <label class="control control_white">
              <input
                name="survey"
                type="checkbox"
              />
              <div class="control__indicator"></div>
              <p class="control__text">я даю своё согласие на получение рассылки по электронной почте</p>
            </label>
          </div>
          <div class="col-12 form__column form__column_block">
            <label class="control control_white">
              <input
                    name="personalData"
                    type="checkbox"
              />
              <div class="control__indicator"></div>
              <p class="control__text">я даю своё согласие на обработку персональных данных</p>
            </label>
          </div>
        </div>
        <div class="form__footer">
          <button type="submit" class="btn btn_brand-1 form__submit">Зарегистрироваться</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="modal-entry">
  <div class="modal__box modal__box_form modal__box_form_small">
    <div class="modal__header">
      {% include 'components/common/section-header.twig' with {
        class: 'modal__box-header section-header_white',
        background: 'войти',
        title: 'Вход'
      } %}
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      <form action="#" method="POST" class="form">
        <div class="form__row">
          <label class="form__label">
            <span class="form__label-title">Логин</span>
            <input type="text" name="login" placeholder="Введите ваш логин" class="form__input">
          </label>
        </div>
        <div class="form__row">
          <label class="form__label">
            <span class="form__label-title">Пароль</span>
            <input type="password" name="password" placeholder="Введите ваш пароль" class="form__input">
          </label>
        </div>
        <div class="form__footer">
          <button type="submit" class="btn btn_brand-1 form__submit">Войти</button>
        </div>
        <div class="form__info">
          <button class="form__link" data-action="modal" data-open="#modal-registration">Регистрация</button>
          <button class="form__link" data-action="modal" data-open="#modal-forgot-password">Забыли пароль?</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="modal-forgot-password">
  <div class="modal__box modal__box_form modal__box_form_small">
    <div class="modal__header">
      {% include 'components/common/section-header.twig' with {
        class: 'modal__box-header section-header_white',
        title: 'Восстановление доступа'
      } %}
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      <form action="#" method="POST" class="form">
        <div class="form__row">
          <label class="form__label">
            <span class="form__label-title">Ваш адрес электронной почты</span>
            <input type="email" name="email" class="form__input">
          </label>
        </div>
        <div class="form__footer">
          <button type="submit" class="btn btn_brand-1 form__submit">Восстановить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="modal-video">
  <div class="modal__box modal__box_transparent">
    <div class="modal__header">
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      <iframe
          class="modal__iframe"
          src="https://www.youtube.com/embed/iCuuQ5RRL5U"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
    </div>
  </div>
</div>