<div class="model-item {{ class }}">
    <div class="model-item__header">
        <p class="model-item__number">{{ number }}</p>
        <p class="model-item__title">{{ title|raw }}</p>
    </div>
    <div class="model-item__body">{{ body }}</div>
</div>