.nav__logo
  +fs(0)

  +max(md)
    +d(flex)
    +ai(center)

  &-inner
    +d(inline-block)
    padding: 10px
    +r()
    &:before
      content: ''
      +a(0, 0)
      +size(100%)
      +bgc($color-white)
      border-radius: 0 0 10px 10px
      +min(md)
        +h(90px)
  &-img
    +r()
    z-index: 1
    vertical-align: middle

    +max(md)
      max-height: 24px