.about
  +r()
  +py(60px, 0)
  +c($color-white)
  +bgi('../img/about-bg.jpg')
  z-index: 1
  overflow: hidden
  +mb(0)
  +min(sm)
    +py(130px, 70px)
  +min(md)
    +pb(100px)
  +min(lg)
    +py(200px, 130px)
  &:after
    content: ''
    +a(null, null, 0, 0)
    +size(100%, 200px)
    +bgc($color-brand-2)
    z-index: -1
    filter: blur(25px)
    opacity: 0.5
  &:before
    content: ''
    +a(0, 0)
    +size(100%)
    +bgc($color-brand-2)
    opacity: 0.7
    z-index: -3
  &_start
    +bgi('../img/about-bg.jpg')
    &:before
      opacity: 0.9
  &__row
    +min(sm)
      flex-direction: row-reverse
      +jc(space-between)
      +ai(center)
  &_start &__row
    +min(sm)
      +ai(flex-end)
  &__content
    +offset('b', 30px)
    +min(sm)
      +offset('b', 60px)
  &__image
    +r()
    z-index: -2
    +max(sm)
      max-width: 250px
    +min(sm)
      top: 130px
    &-wrapper
      +max(sm)
        +mt(30px)
        +ta(center)
  &__next
    +max(sm)
      +d(none)
      +mt(0)

  &__quote
    +mb(30px)
    opacity: 0.4

  &__arrow
    +max(sm)
      +r(null, null, null, 15%)
      max-width: 75px
      transform: scaleX(-1)

  &-connect
    +bgi('../img/about-bg.jpg')
    +pb(100px)
    &:before
      opacity: 0.9
    +min(sm)
      +pb(200px)
    @at-root
      @keyframes aboutWine
        0%, 100%
          transform: none
        50%
          transform: translateY(45px)
      @keyframes aboutTitle
        0%, 100%
          transform: none
        50%
          transform: translateY(-45px)
    .about__row
      +min(sm)
        +jc(space-around)
    &-content
      +min(sm)
        +mt(100px)
    &-animation
      +a()
      +max(sm)
        +size(100%)
        opacity: 0.2
      +min(sm)
        +r()
      &__title
        +ff('bl')
        +fs(65px)
        transform: rotate(-90deg)
        +min(sm)
          +fs(100px)
        +min(md)
          +fs(130px)
        &-wrapper
          +a(null, null, 60%, -30%)
          animation: aboutTitle 15s infinite
          +min(sm)
            bottom: 15%
      &__wine
        animation: aboutWine 7s infinite
        +max(sm)
          +a(null, 0)
          +w(100px)
        +min(sm)
          +r()
          left: 15%
          max-width: 70%