.education
  +r()
  +bgc($color-brand-2)
  +c($color-white)
  +py(60px, 45px)
  +min(sm)
    +pt(90px)
  +min(md)
    +pt(160px)

  &__content
    +min(sm)
      +ai(start)

  &__speakers
    +min(md)
      display: flex
      +mx(-15px)
      .education-item
        +px(15px)

  &-item
    display: flex
    flex-direction: column
    +max(sm)
      +mb(30px)
      +ta(center)
    &_reverse
      +min(sm)
        flex-direction: column-reverse
    &__header
      +c(#419bd7)
    &_reverse &__header
      +min(sm)
        +mb(30px)
    &__image
      border-radius: 10px
      box-shadow: 0px 16px 86.64px 65.36px rgba(5, 76, 115, 0.11)
    &__title
      +mb(15px)
      +ff('b')
    &__subtitle
      +fs(14px)
    &__body
      +fs(0)
      +mb(15px)
      +min(sm)
        +mb(30px)
    &__image
      +max(sm)
        max-width: 250px
  &-number
    +mb(30px)
    &__title
      +ff('bl')
      +fs(100px)
      +lh(1)
      +c(#f2f3f7)
      opacity: 0.12
      +mb(-45px)
      +min(sm)
        +fs(150px)
        +mb(-75px)
        +ml(-30px)
  &-footer
    +max(sm)
      +ta(center)
    +min(sm)
      +ai(flex-end)
    +min(md)
      +mt(-290px)
    &__item
      +max(sm)
        +offset('b', 15px)
      &-1
        +max(sm)
          +d(none)
      +min(sm)
        &-1
          +mt(200px)
          img
            +size(100%, 160px)
            object-fit: cover
        &-3
          +mt(120px)
        &-2
          +r()
          &:before
            content: ''
            +a(0, -60%, null, null)
            +size(137px, 72px)
            +bgi('../img/arrow-white.png')
            transform: scaleX(-1)
            +min(sm)
              top: 20%
              right: -45%
  &__next
    +mt(60px)