<div class="step-item {{ class }}">
    <div class="step-item__header">
        <p class="step-item__number">{{ number }}</p>
        <p class="step-item__title">{{ title|raw }}</p>
    </div>
    <div class="step-item__body">{{ body }}</div>
</div>