{% import 'macros/landing.twig' as landing %}
<section class="webinar-video" id="section-video">
    <div class="container">
        {% include 'components/common/section-header.twig' with {
            class: 'section-header_white webinar-video__section-header',
            background: 'путешествия',
            title: title,
            subtitle: subtitle
        } %}
        <iframe
            src="{{ video }}"
            frameborder="0"
            allow="autoplay; fullscreen"
            class="webinar-video__iframe"
            allowfullscreen></iframe>
    </div>
</section>