{% import 'macros/landing.twig' as landing %}
<ul class="social {{ class }}">
    {% for item in items %}
        <li class="social__item">
            <a href="{{ item.link }}" class="social__link">
                {{ landing.image({
                    src: item.image,
                    alt: 'social'
                }) }}
            </a>
        </li>
    {% endfor %}
</ul>