$themeFormDesign: "new"

.form
  &__input
    +bgc($color-white)
    border-radius: 30px
    +c(#939ea4)
    +ff('r')
    padding: 15px 20px
    +fs(14px)
    +w(100%)
    border: none
    outline: none
    +tr()
    +min(md)
      +fs(16px)
    +placeholder()
      +c(#939ea4)
      +tr()
    &:focus
      +placeholder()
        opacity: 0
  &__submit
    min-width: 250px
  &__row
    +offset('b', 15px)
    +min(sm)
      +offset('b', 30px)
  &__column
    +max(sm)
      +offset('b', 15px)
  &__footer
    +ta(center)
    +mt(45px)