{% import 'macros/landing.twig' as landing %}
<section class="video" id="section-video">
    {{ landing.image({
        src: 'img/trand-3.png',
        alt: 'glasses',
        class: 'video__glasses'
    }) }}
    <div class="container">
        <div class="row video__header">
            {% include 'components/common/section-header.twig' with {
                class: 'col-12 col-sm-10 col-md-8 section-header_white',
                background: 'свой бизнес',
                title: 'Ты можешь построить свой бизнес на самом востребованном продукте в сфере туризма с помощью сообщества Grono'
            } %}
        </div>
        <div class="video__row">
            <iframe
                    class="video__iframe"
                    src="https://www.youtube.com/embed/iCuuQ5RRL5U"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        {% include 'components/common/next-button.twig' with {
            class: 'video__next',
            buttonClass: 'next-button_arrow-white'
        } %}
    </div>
    {{ landing.image({
        src: 'img/rectangle-top-section.png',
        alt: 'Мы строим',
        class: 'rectangle rectangle_top'
    }) }}
    {{ landing.image({
        src: 'img/wave.png',
        alt: 'wave',
        class: 'wave wave_bottom'
    }) }}
</section>