{% import 'macros/landing.twig' as landing %}
<section class="platform-results" id="section-results">
    <div class="container">
        {% include 'components/common/section-header.twig' with {
            class: 'trend__header',
            background: 'Достигай',
            title: 'Достигайте быстрых результатов <br>вместе с Grono'
        } %}
        <div class="row platform-results__row">
            <div class="col-12 col-sm-6 col-lg-5">
                <ul class="list list_circle platform-results__list">
                    <li>Превращайте потенциальных клиентов в
                        реальных через <strong class="color-brand-3">авто-воронки</strong></li>
                    <li>Быстро делитесь новостями с бизнес-командой
                        через <strong class="color-brand-3">корпоративную сеть</strong></li>
                    <li>Устраивайте <strong class="color-brand-3">командные и индивидуальные
                        игры</strong>, бросая друг другу вызов</li>
                    <li>Интегрируйте любые сторонние сервисы
                        в платформу — управляйте ими из
                        <strong class="color-brand-3">личного кабинета</strong></li>
                    <li>Отвечайте на сообщения и комментарии
                        в соцсетях через <strong class="color-brand-3">единый центр сообщений</strong></li>
                    <li>Достигайте масштабных целей через
                        <strong class="color-brand-3">систему задач и отчетов</strong></li>
                    <li>Используйте <strong class="color-brand-3">готовые скрипты</strong> звонков
                        и сообщений для улучшения коммуникации</li>
                    <li>Оценивайте результаты работы через <strong class="color-brand-3">аналитику</strong>
                        (в т.ч. коэффициент возврата инвестиций)</li>
                    <li>Отслеживайте эмоциональное состояние членов
                        команды и развивайте их через <strong class="color-brand-3">инструменты коучинга</strong>
                        и онлайн-образования</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 platform-results__image-column">
                {{ landing.image({
                    src: 'img/platform-results-man.png',
                    alt: 'Достигайте быстрых результатов',
                    class: 'platform-results__image'
                }) }}
            </div>
        </div>
        {% include 'components/common/next-button.twig' with {
            class: 'trend__next',
            buttonClass: ''
        } %}
    </div>
    {{ landing.image({
        src: 'img/notebook-results.png',
        alt: 'bag',
        class: 'platform-results__notebook'
    }) }}
</section>