<div class="modal" id="modal-offer">
    <div class="modal__box modal__box_small">
        <div class="modal__header">
            {% include 'components/common/section-header.twig' with {
                class: 'modal__box-header',
                background: 'Договор',
                title: 'Договор аферты'
            } %}
            <button class="modal__close modal__close_general" data-close="modal">&times;</button>
        </div>
        <div class="modal__body">
            <div class="modal__body-inner">

            </div>
        </div>
    </div>
</div>