<div class="modal" id="modal-video">
    <div class="modal__box modal__box_transparent">
        <div class="modal__header">
            <button class="modal__close" data-close="modal">&times;</button>
        </div>
        <div class="modal__body">
            <iframe
                    class="modal__iframe"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>