<div class="modal" id="modal-forgot-password">
    <div class="modal__box modal__box_form modal__box_form_small">
        <div class="modal__header">
            {% include 'components/common/section-header.twig' with {
                class: 'modal__box-header section-header_white',
                title: 'Восстановление доступа'
            } %}
            <button class="modal__close" data-close="modal">&times;</button>
        </div>
        <div class="modal__body">
            <form action="#" method="POST" class="form">
                <div class="form__row">
                    <label class="form__label">
                        <span class="form__label-title">Ваш адрес электронной почты</span>
                        <input type="email" name="email" class="form__input">
                    </label>
                </div>
                <div class="form__footer">
                    <button type="submit" class="btn btn_brand-1 form__submit">Восстановить</button>
                </div>
            </form>
        </div>
    </div>
</div>